/* - Set up custom layout & vars- */
.sr-only {
  background-color: yellow;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

/* Typography */
/*
https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd
*/
/* -------------------------------- 

Typography

-------------------------------- */
:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4; }

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text); }

h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height); }

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl); }

h1, .text--xxl {
  font-size: var(--text-xxl); }

h2, .text--xl {
  font-size: var(--text-xl); }

h3, .text--lg {
  font-size: var(--text-lg); }

h4, .text--md {
  font-size: var(--text-md); }

.text--sm, small {
  font-size: var(--text-sm); }

.text--xs {
  font-size: var(--text-xs); }

p {
  line-height: var(--body-line-height); }

a {
  color: var(--color-link); }
  a:visited {
    color: var(--color-link-visited); }

b, strong {
  font-weight: bold; }

.text-container h2, .text-container h3, .text-container h4 {
  margin-top: var(--space-sm); }

.text-container ul, .text-container ol, .text-container p {
  margin-bottom: var(--space-md); }

.text-container ul, .text-container ol {
  list-style-position: outside;
  padding-left: 24px; }

.text-container ul {
  list-style-type: disc; }

.text-container ol {
  list-style-type: decimal; }

.text-container ul li, .text-container ol li {
  line-height: var(--body-line-height); }

.text-container em {
  font-style: italic; }

.text-container u {
  text-decoration: underline; }

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* Base Layout */
body {
  background-color: yellow; }

body {
  font-family: "El Messiri"; }

.container {
  display: flow-root;
  /* 1 */
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .container {
    padding-left: 40px;
    padding-right: 40px; } }

/*
 * Remove margin from the last-child
 */
.container > :last-child {
  margin-bottom: 0; }

/*
 * Remove padding from nested containers
 */
.container .container {
  padding-left: 0;
  padding-right: 0; }

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200; }

header.primary-header {
  border-bottom: 5px solid red;
  padding-top: 20px; }

.logo-holder--mobile {
  width: 50px;
  height: 50px; }
  .logo-holder--mobile svg {
    fill: white; }

.logo-holder--desktop {
  display: none; }
  .logo-holder--desktop svg {
    fill: white; }

.menu-holder {
  width: 40px;
  height: 40px; }

@media (min-width: 960px) {
  .logo-holder--mobile {
    display: none; }
  .logo-holder--desktop {
    display: block;
    width: 230px; } }

@media (min-width: 1200px) {
  header.primary-header {
    background-color: blue; } }

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 30;
  padding-top: 10px; }

.primary-footer {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding-top: 10px; }

/* Navigations */
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  height: 0;
  box-sizing: border-box; }
  .nav-wrapper .container {
    background-color: brown;
    height: 0; }

.primary-nav {
  background-color: green;
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0; }

#back-to-tutorial {
  margin-left: 100px; }

nav.primary-nav li {
  position: relative;
  display: block;
  margin: 16px 0;
  width: 16px;
  height: 16px;
  cursor: pointer; }
  nav.primary-nav li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    transform: scale3d(1, 1, 1); }
    nav.primary-nav li a:hover {
      box-shadow: 0 0 0 3px white; }
    nav.primary-nav li a:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 0 1px #fff;
      transition: height 0.3s ease; }
    nav.primary-nav li a.active {
      background-color: red;
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
      transform: scale3d(1.3, 1.3, 1.3); }
      nav.primary-nav li a.active:after {
        height: 100%; }

a.active {
  background-color: red;
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
  transform: scale3d(1.3, 1.3, 1.3); }
  a.active:after {
    height: 100%; }

/* Sides */
.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10; }

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*height: 100vh + 30vh;
  transform: translateY(30vh);
  transition: 1.2s, all, cubic-bezier(0.22, 0.44, 0, 1);*/ }

.door-card {
  border: 1px solid sandybrown; }

#slide-2 {
  background-color: #45959b; }

#slide-3 {
  background-color: #778899; }

#slide-4 {
  color: #FFFFFF;
  background-color: #291F37; }

.go-prev, .go-next {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline; }

#crow-road {
  background-color: #0e646e; }
