.slides-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /*height: 100vh + 30vh;
  transform: translateY(30vh);
  transition: 1.2s, all, cubic-bezier(0.22, 0.44, 0, 1);*/
  .uk-container {
    margin-top: 80px;
    height: 80vh;
  }
}
.door-card-wrap {
  display: flex;
  height: 100%;
  border: 5px solid lightsalmon;
}
.door-card {
  // border: 5px solid yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid pink;
  box-sizing: border-box;
  &__door {
    aspect-ratio: auto 1 / 1.20;
    max-width: 100%;
    height: 100%;
    background: teal;
    border: 3px solid brown;
    box-sizing: border-box;
  }
  &__street {
    border: 2px solid purple;
    box-sizing: border-box;
  }
}

#slide-2 {
  background-color: #45959b;
}

#slide-3 {
  background-color: #778899;
}

#slide-4 {
  color: #FFFFFF;
  background-color: #291F37;
}

.go-prev, .go-next {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: $breakpoint-small) {
  .door-card {
    border: 2px solid green;
  } 
}

@media (min-width: $breakpoint-medium) {
  .door-card {
    border: 2px solid yellow;
    &__door {
      background-color: orange;
    }
  } 
}

@media (min-width: $breakpoint-large) {
  .door-card {
    border: 2px solid orange;
    &__door {
      background-color: olivedrab;
    }
  } 
}

@media (min-width: $breakpoint-xlarge) {
  .door-card {
    border: 2px solid royalblue;
    &__door {
      background-color: yellowgreen;
    }
  } 
}