.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /*height: 100vh + 30vh;
  transform: translateY(30vh);
  transition: 1.2s, all, cubic-bezier(0.22, 0.44, 0, 1);*/
}

.door-card {
  border: 1px solid sandybrown;
}


// .slide .centered {
//   width: 60%;
//   margin: 200px auto 0;
// }

// .slide .centered h1 {
//   text-align: center;
// }

// .slide .centered p {
//   text-align: center;
//   margin-top: 20px;
//   font-size: 20px;
// }

// #slide-1 {
//   background-color: #FF00ff;
// }

#slide-2 {
  background-color: #45959b;
}

#slide-3 {
  background-color: #778899;
}

#slide-4 {
  color: #FFFFFF;
  background-color: #291F37;
}

.go-prev, .go-next {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}