$bower-street-bkg: #759342;
// $dowanside-road-bkg: #778899;

#bower-street {
  background-color: $bower-street-bkg;
  .st0 {
    fill: #3a4f80;
  }

  .st1 {
    fill: #d5c4bc;
  }

  .st2 {
    fill: #854237;
  }

  .st3 {
    fill: #c2c9dc;
  }

  .st4 {
    fill: #2a395c;
  }

  .st5 {
    fill: #fed085;
  }

  .st6 {
    fill: #aa9d96;
  }

  .st7 {
    mask: url(#mask-1);
  }

  .st8 {
    fill: #212d49;
  }

  .st9 {
    fill: #edeff5;
  }

  .st10 {
    fill: url(#radial-gradient);
  }

  .st10, .st11 {
    mix-blend-mode: multiply;
  }

  .st12 {
    mask: url(#mask);
  }

  .st13 {
    fill: #f9fafc;
  }

  .st14 {
    fill: #d5c6bf;
  }

  .st15 {
    fill: #e2d18c;
  }

  .st16 {
    fill: #c0b0a9;
  }

  .st17 {
    fill: #9297a4;
  }

  .st18 {
    fill: url(#radial-gradient1);
  }

  .st19 {
    opacity: 0;
  }

  .st20 {
    fill: #643229;
  }

  .st21 {
    fill: #b5a770;
  }

  .st22 {
    fill: #4b66a5;
  }

  .st23 {
    fill: #2a1817;
  }

  .st24 {
    fill: #221b13;
  }

  .st25 {
    isolation: isolate;
  }

  .st26 {
    fill: #66573d;
  }

  .st27 {
    fill-rule: evenodd;
  }

  .st27, .st28 {
    fill: #2d3f55;
  }

  .st29 {
    fill: #293513;
  }

  .st30 {
    fill: #afb5c6;
  }

  .st31 {
    fill: #bac6e2;
  }

  .st32 {
    fill: #e8dcd6;
  }

  .st33 {
    fill: #958984;
  }

  .st34 {
    fill: #41551e;
  }

  .st11 {
    fill: #5c5f68;
  }

  .st35 {
    fill: #af6458;
  }

  .st36 {
    fill: #f3f4f8;
  }

  .st37 {
    fill: #749835;
  }

  .st38 {
    fill: #fff;
    opacity: .1;
  }

  .st39 {
    fill: #b8756a;
  }

  .st40 {
    fill: #425a92;
  }

  .st41 {
    fill: #e2d3cc;
  }

  .st42 {
    fill: #d4d9e7;
  }

  .st43 {
    fill: #c8cee0;
  }

  .st44 {
    fill: #b7bdcd;
  }

  .st45 {
    fill: #caaa70;
  }

  .st46 {
    opacity: 0;
  }

  .st47 {
    fill: #954b3e;
  }

  .st48 {
    fill: #94c830;
  }

  .st49 {
    fill: #98aad4;
  }

  .st50 {
    fill: #857964;
  }

  .st51 {
    fill: #fcd48c;
  }

  .st52 {
    fill: #90ad5d;
  }

  .st53 {
    fill: #6e717b;
  }

  .st54 {
    fill: #516a25;
  }

  .st55 {
    fill: #83ad36;
  }

  .st56 {
    filter: url(#luminosity-noclip);
  }
}