$dowanside-road-bkg: #9c7070;
// $dowanside-road-bkg: #778899;

#dowanside-road {
  background-color: $dowanside-road-bkg;
  .st0 {
    fill: #a09b9f;
  }

  .st1 {
    fill: #7a99ad;
  }

  .st2 {
    fill: #444649;
  }

  .st3 {
    fill: #7b7b7d;
  }

  .st4 {
    fill: #657c8c;
  }

  .st5 {
    fill: #e2e9f2;
  }

  .st6 {
    fill: #abb5be;
  }

  .st7 {
    fill: #6b6661;
  }

  .st8 {
    fill: #8d7e77;
  }

  .st9 {
    fill: #95acba;
  }

  .st10 {
    fill: #6c889a;
  }

  .st11 {
    fill: #7d8b95;
  }

  .st12 {
    fill: #71655f;
  }

  .st13 {
    fill: #343f4c;
  }

  .st14 {
    fill: #a46628;
  }

  .st15 {
    fill: #a3a0a7;
  }

  .st16 {
    fill: #aea69e;
  }

  .st17 {
    fill: #c4bbb2;
  }

  .st18 {
    fill: #36444d;
  }

  .st19 {
    fill: #3d4a59;
  }

  .st20 {
    fill: #bac5d0;
  }

  .st21 {
    fill: #99928b;
  }

  .st22 {
    fill: #8a837d;
  }

  .st23 {
    fill: #5c6e7b;
  }

  .st24 {
    fill: #e1d9d1;
  }

  .st25 {
    fill: #232a33;
  }

  .st26 {
    fill: #334a5a;
  }

  .st27 {
    fill: #5e7182;
  }

  .st28 {
    fill: #422c1e;
  }

  .st29 {
    fill: #dbc2a9;
  }

  .st30 {
    fill: #807c7f;
  }

  .st31 {
    fill: #d5dadf;
  }

  .st32 {
    fill: #c3d5e0;
  }

  .st33 {
    fill: #422910;
  }

  .st34 {
    fill: #dde7f3;
  }

  .st35 {
    fill: #dad0c6;
  }

  .st36 {
    fill: #454952;
  }

  .st37 {
    fill: #bdbcc1;
  }

  .st38 {
    fill: #eae4d6;
  }

  .st39 {
    fill: #c0c6ce;
  }

  .st40 {
    fill: #4e5f72;
  }

  .st41 {
    fill: #516673;
  }

  .st42 {
    fill: #87aac0;
  }

  .st43 {
    fill: #1f2c36;
  }

  .st44 {
    fill: #57697f;
  }

  .st45 {
    fill: #cfdbe7;
  }

  .st46 {
    fill: #708a9b;
  }

  .st47 {
    fill: #c0c7ce;
  }

  .st48 {
    fill: #4f6179;
  }
}