$queens-drive-bkg: #c2b66d;

#queens-drive {
  background-color: $queens-drive-bkg;
  .st0 {
    fill: #635975;
  }

  .st1 {
    fill: #fff6d8;
  }

  .st2 {
    fill: #afb7b8;
  }

  .st3 {
    fill: #eee7e4;
  }

  .st4 {
    fill: #d9cac3;
  }

  .st5 {
    fill: #4a6a7e;
  }

  .st6 {
    fill: #595069;
  }

  .st7 {
    fill: #c2a16b;
  }

  .st8 {
    fill: #aa9d96;
  }

  .st9 {
    fill: #788f6b;
  }

  .st10 {
    fill: #b1b1b1;
  }

  .st11 {
    fill: #e62134;
  }

  .st12 {
    fill: #807671;
  }

  .st13 {
    fill: #b4bfce;
  }

  .st14 {
    fill: #552d0f;
  }

  .st15 {
    fill: #4e5968;
  }

  .st16 {
    fill: #b81a2a;
  }

  .st17 {
    fill: #5e5d73;
  }

  .st18 {
    fill: #d677b5;
  }

  .st19 {
    fill: #5c5c69;
  }

  .st20 {
    fill: #ddd1cc;
  }

  .st21 {
    fill: #a11724;
  }

  .st22 {
    fill: #6b3c5b;
  }

  .st23 {
    fill: none;
  }

  .st24 {
    fill: #ffb8ce;
  }

  .st25 {
    fill: #e1d8cf;
  }

  .st26 {
    fill: #6f6966;
  }

  .st27 {
    fill: #6a6a78;
  }

  .st28 {
    fill: #281c18;
  }

  .st29 {
    fill: #d9d0b0;
  }

  .st30 {
    fill: #964042;
  }

  .st31 {
    fill: #96537f;
  }

  .st32 {
    fill: #47260d;
  }

  .st33 {
    fill: #c0b0a9;
  }

  .st34 {
    fill: #991623;
  }

  .st35 {
    fill: #c2b165;
  }

  .st36 {
    fill: #d3c7c2;
  }

  .st37 {
    fill: #5d849d;
  }

  .st38 {
    fill: #acb1c5;
  }

  .st39 {
    fill: #7c7370;
  }

  .st40 {
    fill: #221b13;
  }

  .st41 {
    fill-rule: evenodd;
  }

  .st41, .st42 {
    fill: #46475c;
  }

  .st43 {
    fill: #8295ad;
  }

  .st44 {
    fill: #e6a304;
  }

  .st45 {
    fill: #293513;
  }

  .st46 {
    fill: #baaa61;
  }

  .st47 {
    fill: #bb5053;
  }

  .st48 {
    fill: #80131d;
  }

  .st49 {
    fill: #b37488;
  }

  .st50 {
    fill: #958984;
  }

  .st51 {
    fill: #41551e;
  }

  .st52 {
    fill: #c7bcb8;
  }

  .st53 {
    fill: #3c3e50;
  }

  .st54 {
    fill: #da85bc;
  }

  .st55 {
    fill: #9f9aa5;
  }

  .st56 {
    fill: #ab5f91;
  }

  .st57 {
    fill: #749835;
  }

  .st58 {
    fill: #c8c0bd;
  }

  .st59 {
    opacity: .6;
  }

  .st59, .st60 {
    fill: #2b2722;
  }

  .st61 {
    fill: #ffa6c2;
  }

  .st62 {
    fill: #784366;
  }

  .st63 {
    fill: #e6add3;
  }

  .st64 {
    fill: #cf9304;
  }

  .st65 {
    fill: #383845;
  }

  .st66 {
    fill: #848496;
  }

  .st67 {
    fill: #b481b2;
  }

  .st68 {
    fill: #f5da9b;
  }

  .st69 {
    fill: #c48fb2;
  }

  .st70 {
    fill: #c16ba3;
  }

  .st71 {
    fill: #a8a7c5;
  }

  .st72 {
    fill: #4b4a5c;
  }

  .st73 {
    fill: #391e0a;
  }

  .st74 {
    fill: #cc1e2e;
  }

  .st75 {
    fill: #de92c4;
  }

  .st76 {
    fill: #cc859b;
  }

  .st77 {
    fill: #b1a5a0;
  }

  .st78 {
    fill: #ff253a;
  }

  .st79 {
    fill: #94c830;
  }

  .st80 {
    fill: #aea29c;
  }

  .st81 {
    fill: #aea68d;
  }

  .st82 {
    fill: #90ad5d;
  }

  .st83 {
    fill: #8c9293;
  }

  .st84 {
    fill: #607256;
  }

  .st85 {
    fill: #c7bbb7;
  }

  .st86 {
    fill: #516a25;
  }

  .st87 {
    fill: #ebb536;
  }

  .st88 {
    fill: #646886;
  }
}