.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

header.primary-header {
  border-bottom: 5px solid red;
  padding-top: 20px;
}


.logo-holder { 
  &--mobile {
    width: $logo-mobile-ratio;
    height: $logo-mobile-ratio;
    //background-color: green;
    svg {
      fill: white;
    }
  }
  &--desktop {
    //background-color: teal;
    display: none;
    svg {
      fill: white;
    }
  }
}

.menu-holder {
  width: 40px;
  height: 40px;
}

@media (min-width: $breakpoint-medium) {
  .logo-holder {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: block;
      width: 230px;
    }
  }
}

@media (min-width: $breakpoint-large) {
  header.primary-header {
    background-color: blue;
  }
}
