body.slider-screen {
  .header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
  }
}

header.primary-header {
  // border-bottom: 1px solid red;
  position: relative;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo-holder { 
  //margin-left: 15px;
  &--mobile {
    width: $logo-mobile-ratio;
    height: 34px;
    // background-color: yellow;
    svg {
      fill: white;
    }
  }
  &--desktop {
    //background-color: teal;
    display: none;
    svg {
      fill: white;
    }
  }
}

.menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 250;
  margin-left: auto;
 // margin-right: 15px;
  // background-color: brown;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 101%;
  z-index: 200;
  background-color: #09142a;
  transition: left 0.5s ease;
}

body.menu-active {
  .menu-wrapper {
    left: 0;
  }
}

@media (min-width: $breakpoint-small) {
  .menu-icon-wrapper {
    display: none;
    // background-color: green;
  }
  header.primary-header {
    flex-direction: row;
  }
  .menu-wrapper {
    position: relative;
    top: unset;
    right: unset;
    left: unset;
    bottom: unset;
    // background-color: pink;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
}

@media (min-width: $breakpoint-medium) {
  header.primary-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .logo-holder {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: block;
      width: 160px;
    }
  }
  
}

@media (min-width: $breakpoint-large) {
  // header.primary-header {
  //   background-color: blue;
  // }
}
