$purple: yellow;

$breakpoint-small: 640px !default;  // Phone landscape
$breakpoint-medium: 960px !default;  // Tablet Landscape
$breakpoint-large:  1200px !default; // Desktop
$breakpoint-xlarge:  1600px !default; // Large Screens